# region Web框架
fastapi==0.115.8
uvicorn==0.34.0
pydantic==2.10.6
python-multipart==0.0.20
# endregion


python-jose>=3.3.0
cryptography==42.0.5
alembic==1.13.1
SQLAlchemy==2.0.39
psycopg[binary]==3.2.9
langchain==0.3.27
langchain_openai
jsonschema==4.25.1


requests
pyyaml